#container{
    width : 375px;
    height: 525px;
    margin-left : 350px;
    margin-top: 60px;
    background-color: rgb(179, 240, 10);
    padding-left: 20px;
}

#cm{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#kg{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weightguide{
    margin-top: 50px;
    margin-left: 75px;
}
#result{
    font-size: 35px;
    margin-left: 90px;
    color: blue;
}

#submit{
    width : 150px;
    height: 35px;
    margin-left : 90px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(186, 72, 19);
    font-size: 25px;
}

body{
    background-color: #000;
}
h1{
    padding-left: 65px;
    padding-top: 25px;
}